<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul style="list-style: none;" class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item" style="display: inline-block;"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item" style="display: inline-block;"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item" style="display: inline-block;"><a class="nav-link" routerLink="contact">Contact</a></li>
        </ul>
    </div>
</nav>




<router-outlet></router-outlet>